<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugins">
	<description>Generally-applicable sniffs for WordPress plugins</description>

	<!-- Check all PHP files in directory tree by default. -->
	<arg name="extensions" value="php"/>
	<file>.</file>

	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps"/>

	<!-- Rules: Check PHP version compatibility -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.1-"/>
	<!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeKeyFound" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment" />
		<exclude name="Squiz.PHP.DisallowMultipleAssignments.Found" />
		<exclude name="Squiz.Commenting.LongConditionClosingComment.Missing" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
	</rule>

	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress-Docs" />

	<!-- Rules: Check for unused variables -->
	<rule ref="VariableAnalysis">
		<exclude-pattern>*/templates/*</exclude-pattern>
		<properties>
			<property name="allowUnusedCaughtExceptions" value="true" />
			<property name="allowUnusedForeachVariables" value="true" />
		</properties>
	</rule>

</ruleset>
