workflows:
  version: 2
  main:
    jobs:
      - lint
      - test-php

version: 2

jobs:
  lint:
    docker:
      - image: circleci/php:7.2-node-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.lock" }}
      - run: composer install -n --prefer-dist
      - save_cache:
          key: v1-dependencies-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: node-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: "Run JS Lint"
          command: |
            npm run lint
      - run:
          name: "Run PHP Lint"
          command: |
            composer phpcs
  test-php:
    docker:
      - image: circleci/php:7.2-node-browsers
      - image: circleci/mariadb:10.3
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.lock" }}
      - run: composer install -n --prefer-dist
      - save_cache:
          key: v1-dependencies-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - restore_cache:
          keys:
            - node-v1-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: node-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run prod
      - run:
          name: "Install Extras"
          command: |
            sudo apt-get update --allow-releaseinfo-change
            sudo apt-get install subversion
            sudo apt-get install -y libmagickwand-dev --no-install-recommends
            yes '' | sudo pecl install imagick || true
            sudo docker-php-ext-enable imagick
            sudo docker-php-ext-install mysqli
            sudo apt-get install mariadb-client-10.3
            sudo apt-get install -y libfreetype6-dev libjpeg62-turbo-dev libpng-dev
            sudo docker-php-ext-configure gd --with-freetype-dir=/usr/include/ --with-jpeg-dir=/usr/include/ && sudo docker-php-ext-install gd
      - run:
          name: "Run Tests"
          command: |
            bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
            composer phpunit
            WP_MULTISITE=1 composer phpunit
            rm -rf $WP_TESTS_DIR $WP_CORE_DIR
            bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 nightly true
            composer phpunit
            rm -rf $WP_TESTS_DIR $WP_CORE_DIR
            bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 4.6 true
            composer phpunit
